@model GameStore.BLL.Models.GameModel
@{
    ViewData["Title"] = "Details";
	
}

<h1>Details</h1>

<div>
	@{
		var base64 = Convert.ToBase64String(Model.Photo);
		var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
	}
	<img src="@imgSrc" width="264" height="345" />
	<p>@Model.Name</p>
	<p>@Model.Description</p>
	<p>@Model.GameGenres</p>
	<p>@Model.Price</p>
</div>

<div>
	<a asp-controller="Game" asp-action="Edit" asp-route-id="@Model.Id"><input type="button" class="btn btn-primary" value="Edit Game" /></a>
	<a asp-controller="Game" asp-action="Delete" asp-route-id="@Model.Id"><input type="button" class="btn btn-primary" value="Delete Game" /></a>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>