@model IEnumerable<GameStore.BLL.Models.GameModel>	
@using GameStore.DAL.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="img/page-top-bg/3.jpg">
	<div class="pi-content">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-6 text-white">
					<h2>Game Store</h2>
					<p>Here you will find all types of games.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Page info section -->
<!--Button and Search filter -->
<br />
<div class="float-md-right" style="margin-top: 0px;">
	<div class="col-md-6" style="margin-top: 0px;">
		@if (ViewContext.HttpContext.User.IsInRole("Administrator"))
		{
			<a asp-controller="Game" asp-action="Create"><input type="button" class="btn btn-success" value="Add Game" style="margin-bottom: 0px;" /></a><br /><br />
		}
		
		<form asp-controller="Home" asp-action="Index" method="get">
			<p>
				<input type="text" name="SearchString" />
				<input type="submit" value="Search" />
			</p>
		</form>
	</div>
</div>
		<!--Button and Search filter END-->
<!-- Page section -->
<section class="page-section review-page spad">
	<div class="container">
		
		<div class="row">
			@foreach(var p in Model)
			{
			<div class="col-md-6">
				<div class="review-item">
					@{
						var base64 = Convert.ToBase64String(p.Photo);
						var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
					}
					<a asp-controller="Game" asp-action="Details" asp-route-id="@p.Id">

					<div class="review-cover set-bg" data-setbg="@imgSrc"></div>
					</a>
					<div class="review-text">
							<h4>@p.Name</h4>
						
							<p>@p.Description</p>
							@*@Html.ActionLink("Buy $"+@p.Price, "Buy", "Cart", new { id = p.Id }, new { @class = "btn btn-success" })*@
							<a asp-controller="Cart" asp-action="Buy" asp-route-id="@p.Id"><input type="button" class="btn btn-success" value="Buy $@p.Price" /></a>
						@*<button type="button" class="btn btn-success">Buy $@p.Price</button> *@

					</div>
				</div>
			</div>
			}
		</div>
	</div>
</section>
<!-- Page section end -->







@*@model IEnumerable<GameStore.BLL.Models.GameModel>


<section class="review-section spad set-bg" data-setbg="https://themewagon.github.io/game-warrior/img/pattern.png">
	
		
	
<div class="container">
<a asp-controller="Game" asp-action="Create"><input type="button" class="btn btn-success" value="Add Game" /></a>
		<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
</div>
<!-- Page section -->
	<div class="page-section review-page spad">
		<div class="container">
			<div class="row">
					@foreach(var p in Model)
					{
					<div class="col-sm-3">
					<div class="review-item">
						<a asp-controller="Game" asp-action="Details" asp-route-id="@p.Id">
						@{
							var base64 = Convert.ToBase64String(p.Photo);
							var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
						}
						<div class="review-cover set-bg" data-setbg="@imgSrc">
								<div class="score purple">@p.Price $</div>
						</div>
							<div class="review-text">
								<h5>@p.Name</h5>
								<p>@p.Description</p>
							</div>
						</a>
					</div>
					</div>
					}
			</div>
		</div>
	</div>
</section>*@